<% include partials/header %>

<a href="/new">add Artist</a>



	<!-- CAROUSEL -->
	 <section>
      <div class="container wrapper mb-3 pb-4">
        <h1 class="h3 my-1 text-center title">Featured Videos</h1>
        <hr class="border-bottom mt-0 ">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner embed-responsive embed-responsive-16by9">





            <div class="carousel-item embed-responsive-item active">
              <a class="brighten" href="Video_QRunItUp_Trappin_On_Trap.html">
                <img class="d-block img-fluid" src="images/QRunItUp_Trappin_On_Trap_Carousel.jpg" alt="Second slide">
              </a>
            </div>



            <div class="carousel-item embed-responsive-item">
              <a class="brighten" href="Video_Bknott_Bandages.html">
                <img class="d-block img-fluid" src="images/Bknott_Bandages_Carousel.jpg" alt="Second slide">
              </a>
            </div>

            


            <div class="carousel-item embed-responsive-item">
              <a class="brighten" href="Mixtape_HoodFlyJay_Lil_Leaf.html">
                <img class="d-block img-fluid" src="images/HoodFlyJay_Lil_Leaf_carousel.jpg">
              </a>
            </div>


            <div class="carousel-item embed-responsive-item">
              <a class="brighten" href="Song_Will_Mula_No_Choice.html">
                <img class="d-block img-fluid" src="images/Will_Mula_No_Choice_Carousel.jpg">
              </a>
            </div>







            



          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>


	<!-- TRENDING -->
	<section class="container container-style wrapper pb-4 mb-5">
  	<div>
      <h1 class="h3 my-1 text-center title">Trending</h1>
      <hr class="border-bottom mt-0">
     </div>

    <div class="row">

      <div class="col-4 p-1">
        <a class="brighten" href="Song_YoungJuice_SeeThru2.html">
          <img class="img-fluid border-radius" src="images/YoungJuice_SeeThru2.jpg">
        </a>
        <p class="text-center m-0">Young Juice - See Thru 2</p>
      </div>

      <div class="col-4 p-1">
        <a class="brighten" href="Video_DaeGwuapo_DIGITS.html">
          <img class="img-fluid border-radius" src="images/DaeGwuapo_DIGITS.jpg">
        </a>
        <p class="text-center m-0">Dae Gwuapo - DIGITS</p>
      </div>           

      <div class="col-4 p-1">
        <a class="brighten" href="Song_Bvosir_2Cups.html">
          <img class="img-fluid border-radius" src="images/Bvosir_2Cups.jpg">
        </a>
        <p class="text-center m-0">Bvosir - 2 Cups</p>
      </div>

    </div>
	</section>



	<!-- MOST RECENT -->
	<section class="container pb-4 wrapper">
        <h1 class="h3 my-1 text-center title">Most Recent</h1>
        <hr class="border-bottom mt-0">

        <div class="row">

        	<% artists.reverse().forEach(function(song){ %>
	        		<div class="col-4 px-1 pb-2">
		        		<div class="zoom border-radius">
		        			<a href="/artist/<%= song._id %>">
			        			<img class="img-fluid zoom-custom border-radius" src="<%= song.image %>">
			        		</a>
			        	</div>

		        		<p><%= song.name %> - <%= song.title%></p>
						<h6>This is a <%= song.category %></h6>
						
					</div>
        	<% }) %> 

		</div>
	</section>

	
	
	

			


<% include partials/footer %>
