<% include partials/header %>




<a href="/new">add Artist</a>



    <section class="container pb-4 wrapper">
        <h1 class="h3 my-1 text-center title">Mixtapes</h1>
        <hr class="border-bottom mt-0 mb-4">

            <% artists.reverse().forEach(function(song){ %>
                <div class="row mb-sm-4 mb-5">
                    
                    <div class="col-12 col-sm-6 align-self-center">
                        <a href="/artist/<%= song._id %>">
                            <img class="img-fluid" src="<%= song.image %>">
                        </a>
                    </div>

                    <div class="col-12 col-sm-6 align-self-center">
                        <h3><%= song.name %> - <%= song.title%></h3>
                        <p><%= song.description%></p>
                    </div>

                </div>
            <% }); %>
        
    </section>


    

        
    
 

<% include partials/footer %>